body {
  background-color: bisque;
}
#page-header {
  height: 7rem !important;
  width: 100% !important;
  background-color: burlywood;
}

#mealName {
  margin-top: 25px;
  position: absolute;
  margin-left: 550px;
}
