#brand-name {
  margin-left: 25%;
  font-size: 2.6rem;
  font-weight: 900;
}

#meals-data-display {
  margin-top: 10%;
  margin-left: 290px;
}

#meal-search-clear {
  margin-right: 5%;
  padding-left: 10%;
}

/* @media screen and (max-width: 576px) {
  #meals-data-display {

  }
} */
